<section class="bg-white dark:bg-gray-900 antialiased">
    <div class="max-w-screen-xl px-4 py-8 mx-auto lg:px-6 sm:py-16 lg:py-24">
        <div class="max-w-3xl mx-auto text-center">
            <h2 class="text-4xl font-extrabold leading-tight tracking-tight text-gray-900 dark:text-white">
                Agenda de Actividades
            </h2>
        </div>

        <div class="mt-8 overflow-x-auto">
            <h4 class="text-xl font-extrabold leading-tight tracking-tight text-gray-900 dark:text-white">
                Lunes 30 de Septiembre
            </h4>
            <table class="w-full text-left text-gray-500 dark:text-gray-400">
                <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-800 dark:text-gray-400">
                    <tr>
                        <th class="px-6 py-3 w-1/4">Hora</th>
                        <th class="px-6 py-3">Actividad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white dark:bg-gray-800">
                        <td class="px-6 py-4">08:00 am - 08:30 am</td>
                        <td class="px-6 py-4">Inauguración de Bootcamp Subdirector - Coordinador académico - Líder</td>
                    </tr>
                    <tr class="bg-gray-50 dark:bg-gray-700">
                        <td class="px-6 py-4">08:30 am - 09:00 am</td>
                        <td class="px-6 py-4">Sensibilización al bootcamp, Definición de Equipos y publicación del reto (caso de estudio) Rafael Pérez</td>
                    </tr>
                    <tr class="bg-white dark:bg-gray-800">
                        <td class="px-6 py-4">09:00 am - 10:00 am</td>
                        <td class="px-6 py-4">Conferencia ISO 27000 ()</td>
                    </tr>
                    <tr class="bg-gray-50 dark:bg-gray-700">
                        <td class="px-6 py-4">10:00 am - 10:30 am</td>
                        <td class="px-6 py-4">BREAK</td>
                    </tr>
                    <tr class="bg-white dark:bg-gray-800">
                        <td class="px-6 py-4">10:30 am - 11:00 am</td>
                        <td class="px-6 py-4">Taller ISO27000 (Anexo 1 plantilla_ISO27002) ()</td>
                    </tr>
                    <tr class="bg-gray-50 dark:bg-gray-700">
                        <td class="px-6 py-4">11:00 am - 12:00 pm</td>
                        <td class="px-6 py-4">Reunión de Inducción y registro al Proceso de Certificación de la Norma de Competencia Laboral en Seguridad de la Información.</td>
                    </tr>                    
                    <tr class="bg-gray-50 dark:bg-gray-700">
                        <td class="px-6 py-4">01:00 pm - 02:00 pm</td>
                        <td class="px-6 py-4">ALMUERZO</td>
                    </tr>
                    <tr class="bg-white dark:bg-gray-800">
                        <td class="px-6 py-4">02:00 pm - 04:00 pm</td>
                        <td class="px-6 py-4">Conferencia: Seguridad Informática : Una Visión desde la vida diaria en las organizaciones (Edwin Rozo)</td>
                    </tr>                    
                    <tr class="bg-white dark:bg-gray-800">
                        <td class="px-6 py-4">04:00 pm - 05:00 pm</td>
                        <td class="px-6 py-4">CONTROLES TÉCNICOS DE SEGURIDAD: Concepto, Tipos de Controles, Aplicación. Recurrentes, Estructura Piramidal. (Carlos Enrique Navia)</td>
                    </tr>
                    <tr class="bg-gray-50 dark:bg-gray-700">
                        <td class="px-6 py-4">05:00 pm - 06:00 pm</td>
                        <td class="px-6 py-4">Conferencia : AMENAZAS A INFRAESTRUCTURAS CRITICAS: Características, Impacto y Afectación, Evolución, Procedimientos de Mitigación del Riesgo Asociado ()</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

